[submodule "duckdb"]
	path = duckdb
	url = https://github.com/duckdb/duckdb
	branch = main
[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools
	branch = main
[submodule "third_party/ldbc_snb_datagen_spark"]
	path = third_party/ldbc_snb_datagen_spark
	url = https://github.com/ldbc/ldbc_snb_datagen_spark.git
